<!DOCTYPE html>
<html>
<head>
  <title>Dingee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
  <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<%= render partial: 'partials/header' %>
<%= yield %>

</body>
</html>
